{% extends 'base.html.twig' %}

{% block title %}
    Starshop
{% endblock %}

{% block body %}
  <h1>Starshop - is RUNNING! </h1>
  <h2>
      Browse here {{numOfStarships * 10}} starships
  </h2>
  {% if numOfStarships > 456 %}
      <h3>numOfStarships are greater than 456</h3>
  {% endif %}
  <h2>My Ship</h2>
  <div>
    <table>
      <tr>
          <th>Name</th>
          <td>{{ myShip.name }}</td>
      </tr>
      <tr>
          <th>Class</th>
          <td>{{ myShip.class }}</td>
      </tr>
      <tr>
          <th>Captain</th>
          <td>{{ myShip.captain|upper }}</td>
      </tr>
      <tr>
          <th>Status</th>
          <td>{{ myShip.status }}</td>
      </tr>
    </table>
  </div>
{% endblock %}
