{% extends 'base.html.twig' %}

{% block title %}
    Starshop
{% endblock %}

{% block body %}
  <h1>Starshop - is RUNNING! </h1>
  <h2>
      Browse here {{ ships|length }} starships
  </h2>
  {% if ships|length > 2 %}
      <h3>numOfStarships are greater than 2</h3>
  {% endif %}
  <h2>My Ship</h2>
  <div>
    <table>
      <tr>
          <th>Name</th>
          <td>
            <a href="{{ path('app_starship_show', { id: myShip.id }) }}">
              {{ myShip.name }}
            </a>
          </td>
      </tr>
      <tr>
          <th>Class</th>
          <td>{{ myShip.class }}</td>
      </tr>
      <tr>
          <th>Captain</th>
          <td>{{ myShip.captain|upper }}</td>
      </tr>
      <tr>
          <th>Status</th>
          <td>{{ myShip.status }}</td>
      </tr>
    </table>
  </div>
{% endblock %}
